name: Deploy MkDocs site to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      LC_ALL: en_US.UTF-8
      LANG: en_US.UTF-8
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          pip install mkdocs mkdocs-material mkdocs-bibtex mkdocs-rss-plugin mkdocs-ultralytics-plugin

      - name: Build MkDocs site
        run: |
          mkdocs build

      - name: Setup Pages
        uses: actions/configure-pages@v4
        with:
          enablement: 'deploy'
          
      # - name: Pre-fetch upload-artifact action
      #   uses: actions/upload-artifact@v3
      #   with:
      #     name: dummy
      #     path: ./site  # This will be overwritten later, safe to reuse

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        # uses: actions/upload-artifact@v3
        with:
          name: github-pages
          path: ./site

  deploy:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    needs: build

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
